@import url(variable.css);
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: ;
}
#header {
  text-align: center;
  margin-bottom: 5rem;
}
#searchbar {
  font-size: 2rem;
}
#search {
  font-size: 1.5rem;
}
#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pokecard{
  border: solid;
  height: 640px;
  width: 400px;
  text-align: center;

}

.pokemonimg {
  height: 400px;
  width: 400px  ;
}
#pokemonname {
  font-size: 50px;
}